In [1]:
2+2

4

In [2]:
print(2+2)

4

# Introduction to Python 

This is where we can add text

we must desginate this cell as a 'markdown' cell 

with a single hashtag we get a big section header

We can also add subections. 

## Subsection 

It is convenient to communicate how your code works and what it is doing with markdown cells! 

You can also use LaTex commands in-line with single dollar signs: $\int_0^\infty f(x) dx$

You can add LaTex equations centered on their own Lines with double dollar signs: $$\sum_{i=1}^\infty \frac{1}{2^i} $$

## Shortcuts 

We can look at the existing keyboard shortcuts through the help menu, and we can make our own there

The most important shortcuts are

 1. Shift + Enter -> Runs the cell and goes to next cell
 2. Ctrl + Enter -> Runs the cell and stays in the cell 
 3. Alt + Enter -> Runs the cell and creates a new cell under your cell
 4. Tab -> Write the first letter of the python function or command and press 'Tab' drops will appear with all the commands and function starts with the letter. 
 5. Shift + Tab -> Press Shift + Tab in front of your function it will provide you the information about the function in a drop down.

In [4]:
# We can add comments to code cells using a hastag
# on windows you can comment a line with 'ctrl + /'
# on mac you can comment a line with 'cmd + /'
# 
# assign a variable to a literal value. 
a = 3 # assign variable a to literal 3
print('Five times a is',5*a, 'and 3 multiplied by a is', 3*a)
a = 2 
print('Five times a is',5*a, 'and 3 multiplied by a is', 3*a)

Five times a is 15 and 3 multiplied by a is 9
Five times a is 10 and 3 multiplied by a is 6

In [7]:
# we can also inspect the type of variable 

print('a is of type', type(a))
b = 2.1
print('b is of type', type(b))
c = float(a)/b
print('c is of type', type(c), 'and its value is', c)
d = a/b 
print('d is of type', type(d), 'and its value is', d)

a is of type <class 'int'>
b is of type <class 'float'>
c is of type <class 'float'> and its value is 0.9523809523809523
d is of type <class 'float'> and its value is 0.9523809523809523

## Collection of Variables

There are 4 main types of collections of variable in python. 

1. list
2. touple
3. set
4. dictionary

In [2]:
# A list s an ordered and indexed collection of values that are changeable and allows duplicates. 

simple_list = ["Dan",2,3,4,"python",2.71]
print(simple_list)
print(simple_list[0])
print(simple_list[3])
print(simple_list[-1])
print(simple_list[-2])
print(simple_list[-3])
print(len(simple_list))

['Dan', 2, 3, 4, 'python', 2.71]
Dan
4
2.71
python
4
6

In [3]:
simple_list[3] = 52
print(simple_list[3]) # index is based on 0 !!!
simple_list.append("to the back")
print(simple_list)
print(len(simple_list))
simple_list.pop(4)
print(simple_list)

52
['Dan', 2, 3, 52, 'python', 2.71, 'to the back']
7
['Dan', 2, 3, 52, 2.71, 'to the back']

In [4]:
# it is easy to initialize a list of a particular size with all entries the same. 

repeated_list = [5] * 4
print(repeated_list)

[5, 5, 5, 5]

In [5]:
# we can even use list as entries of a list 

simple_list[1] = [1,2,3]
print(simple_list)
print(simple_list[1])
print(simple_list[1][1])

['Dan', [1, 2, 3], 3, 52, 2.71, 'to the back']
[1, 2, 3]
2

In [6]:
# Copying list is a little tricky 

list2 = simple_list 
print(list2)
print(simple_list)
list2[1] = 0
print(list2)
print(simple_list)

['Dan', [1, 2, 3], 3, 52, 2.71, 'to the back']
['Dan', [1, 2, 3], 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']

In [7]:
# we must use the copy method to prevent this behavior. 

list3 = simple_list.copy()
print(list3)
print(simple_list)
list3[0] = 'Mitchell'
print(list3)
print(simple_list)

['Dan', 0, 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']
['Mitchell', 0, 3, 52, 2.71, 'to the back']
['Dan', 0, 3, 52, 2.71, 'to the back']

In [8]:
# tuple is an ordered collection of values that are changeable and does not allow duplicates. 

simple_tuple = (12,42,11,99,2351)

print(simple_tuple) 
print(simple_tuple[1])

(12, 42, 11, 99, 2351)
42

In [9]:
# it is not possible to change entries in a tuple 

simple_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [10]:
# You can work around this though..... 

dummy = list(simple_tuple)
dummy[0] = 5
simple_tuple = tuple(dummy)
print(simple_tuple)

(5, 42, 11, 99, 2351)

In [11]:
# a set is an unordered collection of values that are changeable and does not allow duplicates 

simple_set = {11,-2,'water',-2}
print(simple_set)

{11, 'water', -2}

In [12]:
print(simple_set[1])

TypeError: 'set' object is not subscriptable

In [13]:
print('water' in simple_set)

True

In [14]:
# you can't change values but can add and remove entries from a set

simple_set.add(72)
print(simple_set)
simple_set.remove('water')
print(simple_set)

{72, 11, 'water', -2}
{72, 11, -2}

In [1]:
# A dictionary is a collection of values that are unordered (but indexed) and changeable
simple_dict = {
    "brand": "Apple",
    "product": "iPhone",
    "model": "X"
}
print(simple_dict)
print('I brought an',simple_dict['product'],"model",simple_dict['model'],'from',simple_dict['brand'])

{'brand': 'Apple', 'product': 'iPhone', 'model': 'X'}
I brought an iPhone model X from Apple

In [2]:
simple_dict["model"] = "11 pro"
print('I brought an',simple_dict['product'],"model",simple_dict['model'],'from',simple_dict['brand'])

I brought an iPhone model 11 pro from Apple

In [4]:
# We can also add entries to the dictionary
simple_dict['color'] = 'red'
print('I brought an', simple_dict['product'],"model",simple_dict['model'],'from',simple_dict['brand'],"of color",simple_dict['color'])

I brought an iPhone model 11 pro from Apple of color red

# Accessing data in lists

A list is the main data type we will use for now and there are some rules we need to remember for accessing data in lists.

Later we''ll get into NumPy arrays, but the same rules here apply to them. 

With NumPy arrays we can access data in more ways.

In [5]:
simple_list = [1,5,2,7,3,66,1923,11]
# we can access multiple values in the list using the :
# we must be careful though
print(simple_list[2:5])
# Why isn't 66 in the output ?
# The number to the left of the: is inclusive, but the number to the right is exclusive
print(simple_list[2:3])
# we can also use negative numbers
print(simple_list[-5:-1])

[2, 7, 3]
[2]
[7, 3, 66, 1923]

## Wrapping up 

once we are done with a noteboook we can export it as an html file.

file/ Downlaod as / HTML

The code in this HTML file can't be re-run but is a concise way to communicate your results. And anyone can copy/paste your cell inputs